<nav class="d-flex bg-light py-3 px-5 gap-3">
  <div class="d-flex gap-3 flex-grow-1" style="height: 40px;">
    <h5 class="d-flex align-items-center m-0 p-0 poppins-light">Home</h5>
    <h5 class="d-flex align-items-center m-0 p-0 poppins-light">></h5>
    <h5 class="d-flex align-items-center m-0 p-0 poppins-light">Products / Service</h5>
    <h5 class="d-flex align-items-center m-0 p-0 poppins-light">></h5>
    <h5 class="d-flex align-items-center m-0 p-0 fw-bold">List</h5>
  </div>
  <div class="mode-switch align-self-center">
    <button title="Use dark mode" id="dark" class="btn btn-sm btn-default text-secondary">
        <i class="bi bi-moon"></i>
    </button>
    <button title="Use light mode" id="light" class="btn btn-sm btn-default text-secondary">
        <i class="bi bi-sun"></i>
    </button>
    <button title="Use system preferred mode" id="system" class="btn btn-sm btn-default text-secondary">
        <i class="bi bi-display"></i>
    </button>
  </div>
</nav>