<div class="row">
    <h1 class="ol-7 offset-3 mb-5">
      @if (editMode){
        Editing Product
      }
      @else{
        Create Product
      }
    </h1>
    <div class="col-7 offset-3 border-secondary">
        <form >

            <div class="form-row mb-3">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="Name" id="name" [(ngModel)]="model.name" name="name">
              </div>
            </div>

            <div class="form-row mb-3">
              <div class="form-group">
                <label for="detail">Detail</label>
                <textarea class="form-control" aria-label="With textarea" id="detail" [(ngModel)]="model.detail" name="detail"></textarea>
              </div>
            </div>

            <div class="form-row mb-3">
              <div class="input-group">
                <select class="custom-select" id="typeCurrencyId" [(ngModel)]="model.typeCurrencyId" name="typeCurrencyId">
                  <option [value]="'0'">Choose...</option>
                  @for (typeCurrency of model.listTypeCurrencies; track $index) {
                    <option [value]="typeCurrency.documentId" [selected]="typeCurrency.documentId == model.typeCurrencyId">{{typeCurrency.ISO2}}</option>
                  }
                </select>
                <div class="input-group-append">
                  <label class="input-group-text" for="typeCurrencyId">Currency</label>
                </div>
              </div>
            </div>

            <div class="form-row mb-3">
              <div class="input-group">
                <select class="custom-select" id="typePaymentId" [(ngModel)]="model.typePaymentId" name="typePaymentId">
                  <option selected [value]="'0'">Choose...</option>
                  @for (typePayment of model.listTypePayments; track $index) {
                    <option [value]="typePayment.documentId" [selected]="typePayment.documentId == model.typePaymentId">{{typePayment.name}}</option>
                  }
                </select>
                <div class="input-group-append">
                  <label class="input-group-text" for="typePaymentId">Payment</label>
                </div>
              </div>
            </div>

            <div class="form-row mb-3">
              <div class="form-group mb-1">
                <label for="implementationCost">Implementation Cost</label>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="implementationCost" [(ngModel)]="model.implementationCost" name="implementationCost">
              </div>
            </div>

            <div class="form-row mb-3">
              <div class="form-group mb-1">
                <label for="instalationCost">Instalation Cost</label>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$ </span>
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="instalationCost" [(ngModel)]="model.instalationCost" name="instalationCost">
              </div>
            </div>


            


            <div class="input-group mb-5">
              <div class="form-row mb-3">
                <div class="form-group mb-1">
                  <label for="regularPrice">Regular price</label>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="regularPrice" [(ngModel)]="model.regularPrice" name="regularPrice">
                </div>
              </div>
  
              <div class="form-row mb-3">
                <div class="form-group mb-1">
                  <label for="advancePrice">Advance price</label>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="advancePrice" [(ngModel)]="model.advancePrice" name="advancePrice">
                </div>
              </div>
            </div>

            @if (editMode) {
              <div class="input-group mb-5">
                <div class="form-row mb-3">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [checked]="model.isActive" [(ngModel)]="model.isActive" name="isActive">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Active</label>
                  </div>
                </div>
              </div>
            }
          

            <div class="btn-group float-end">
              <a class="btn btn-warning" [routerLink]="['/list-products']">Go Back</a>
              @if (editMode) {
                <button type="submit" class="btn btn-primary" (click)="update();">Save</button>
              } @else { 
                <button type="submit" class="btn btn-primary" (click)="create();">Create</button>
              }
            </div>

          </form>
    </div>
</div>