<!-- <table class="table table-borderless mb-0">
  <thead>
    <tr>
      @for (header of headers; track $index) {
        <th scope="col">{{header}}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of rows; track $index) {
      <tr>
        @for (content of row; track $index) {
            <td>{{ content }}</td>
        }
      </tr>
    }
    @for (data of rowsWithDataSource.dataSource; track $index) {
        <tr>
          @for (content of rowsWithDataSource.contents; track $index) {
            @if (isEmpty(content)) {
                <td>[n/a]</td>
            }
            @else if (isKeyOfData(content, $index)) {
                <td>{{ data[content] }}</td>
            }
            @else if (isObject(content)) {
                
            }
            @else {
                <td>{{ content }}</td>
            }
          }
        </tr>
    }
  </tbody>
</table> -->