<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body d-flex align-items-center justify-content-center flex-column">
                <i class="bi bi-x-circle-fill text-danger fa-7x"></i>
                <p class="fs-5">Are you sure you want to delete</p>
                <span class="fs-5 text-danger d-flex">[ <p id="nameEntity"></p> ]</span>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>