<div class="row">

    <div class="col-7 offset-3 mb-5 d-flex flex-row justify-content-between p-0 gap-2">
      <a [routerLink]="[router.routes.SEPARATOR + router.routes.LIST_PRODUCTS]" class="btn btn-warning d-flex align-items-center">
        <i class="bi bi-arrow-return-left"></i>
      </a>
      <div class="main-tittle">
          <h1 class="text-white">Creating Product / Service</h1>
      </div>
    </div>

    <div class="col-7 offset-3 border-secondary">
      <form [formGroup]="mainForm" (ngSubmit)="create();">

        <div class="form-row mb-3">
          <div class="form-group">
            <label for="name">
              Name <field-validation-mark [myControl]="name"/>
            </label>
            <input type="text" class="form-control" placeholder="Host" id="name" formControlName="name" required>
            <field-validation-message 
              [myControl]="name" 
              [validationMessages]="{
                required: 'The name is obligatory.'
              }" 
            />
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="form-group">
            <label for="detail">
              Detail <field-validation-mark [myControl]="detail"/>
            </label>
            <textarea class="form-control" id="detail" formControlName="detail" required></textarea>
            <field-validation-message 
              [myControl]="detail" 
              [validationMessages]="{
                required: 'The detail is obligatory.'
              }" 
            />
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="input-group">
            <select class="custom-select" id="typeCurrencyId" formControlName="typeCurrencyId" required>
              <option [value]="'0'" selected>
                @if (model.listTypeCurrencies.length === 0) 
                { No currencies aviable }
                @else 
                { Choose and option... }
              </option>
              @for (typeCurrency of model.listTypeCurrencies; track $index) {
                <option [value]="typeCurrency.documentId">{{typeCurrency.ISO2}}</option>
              }
            </select>
            <div class="input-group-append">
              <label class="input-group-text gap-1" for="typeCurrencyId">
                Currency <field-validation-mark [myControl]="typeCurrencyId"/>
              </label>
            </div>
          </div>
          <field-validation-message 
            [myControl]="typeCurrencyId" 
            [validationMessages]="{
              forbiddenValue: 'Choose a valid option'
            }" 
          />
        </div>

        <div class="form-row mb-3">
          <div class="input-group">
            <select class="custom-select" id="typePaymentId" formControlName="typePaymentId" required>
              <option [value]="'0'" selected>
                @if (model.listTypePayments.length === 0) 
                { No payments aviable }
                @else 
                { Choose and option... }
              </option>
              @for (typePayment of model.listTypePayments; track $index) {
                <option [value]="typePayment.documentId">{{typePayment.name}}</option>
              }
            </select>
            <div class="input-group-append">
              <label class="input-group-text gap-1" for="typePaymentId">
                Payment <field-validation-mark [myControl]="typePaymentId"/>
              </label>
            </div>
          </div>
          <field-validation-message 
            [myControl]="typePaymentId" 
            [validationMessages]="{
              forbiddenValue: 'Choose a valid option'
            }" 
          />
        </div>

        <div class="form-row mb-3">
          <div class="form-group mb-1">
            <label for="implementationCost">
              Implementation Cost <field-validation-mark [myControl]="implementationCost"/>
            </label>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input 
              type="number" 
              class="form-control" 
              id="implementationCost" 
              formControlName="implementationCost"
              step="0.01"
              required
            >
          </div>
          <field-validation-message 
              [myControl]="implementationCost" 
              [validationMessages]="{
                required: 'The implementation cost is obligatory.'
              }" 
            />
        </div>

        <div class="form-row mb-3">
          <div class="form-group mb-1">
            <label for="instalationCost">
              Instalation Cost <field-validation-mark [myControl]="instalationCost"/>
            </label>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$ </span>
            </div>
            <input 
              type="number" 
              class="form-control" 
              id="instalationCost" 
              formControlName="instalationCost"
              step="0.01"
              required
            >
          </div>
          <field-validation-message 
              [myControl]="instalationCost" 
              [validationMessages]="{
                required: 'The instalation cost is obligatory.'
              }" 
          />
        </div>

        <div class="input-group mb-5">
          <div class="form-row mb-3">
            <div class="form-group mb-1">
              <label for="regularPrice">
                Regular price <field-validation-mark [myControl]="regularPrice"/>
              </label>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input 
                type="number" 
                class="form-control" 
                id="regularPrice" 
                formControlName="regularPrice"
                step="0.01"
                required
              >
            </div>
            <field-validation-message 
              [myControl]="regularPrice" 
              [validationMessages]="{
                required: 'The regular price is obligatory.'
              }" 
            />
          </div>

          <div class="form-row mb-3">
            <div class="form-group mb-1">
              <label for="advancePrice">
                Advance price <field-validation-mark [myControl]="advancePrice"/>
              </label>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input 
                type="number" 
                class="form-control" 
                id="advancePrice" 
                formControlName="advancePrice"
                step="0.01"
                required
              >
            </div>
            <field-validation-message 
              [myControl]="advancePrice" 
              [validationMessages]="{
                required: 'The advance price is obligatory.'
              }" 
            />
          </div>
        </div>

          
        <button 
          type="submit" 
          [class]="'btn float-end ' + (mainForm.valid ? 'btn-primary' : 'btn-secondary')" 
          [disabled]="!mainForm.valid"
        >
          Create
        </button>

      </form>
    </div>
</div>