<div class="row mb-4">
    <div class="d-flex flex-row justify-content-between p-0 gap-2">
        <div class="main-tittle">
            <h1 class="text-white">Products / Services</h1>
        </div>
        <a [routerLink]="[router.routes.SEPARATOR + router.routes.CREATE_PRODUCT]" class="btn btn-success d-flex align-items-center">+Add</a>
    </div>
</div>
<div class="table-responsive">
  <dynamic-table
    [config]="{
      readingMode: enumProviderService.dynamicTableReadingMode.SPECIFIC,
      dataSourceEmptyMessage: 'There is not Products yet.'
    }"
    [headers]="['N#','Name','Detail', 'Controls']"
    [dataSource]="products"
    [specificTypes]="[
      {
        type: enumProviderService.dynamicTableDataType.INDEX, 
        content: 1
      },
      {
        type: enumProviderService.dynamicTableDataType.KEY,
        content: 'name'
      },
      {
        type: enumProviderService.dynamicTableDataType.KEY,
        content: 'detail'
      },
      {
        type: enumProviderService.dynamicTableDataType.CONTROLS,
        content: [
          enumProviderService.dynamicTableControlsType.EDIT,
          enumProviderService.dynamicTableControlsType.DETAIL,
          enumProviderService.dynamicTableControlsType.DELETE
        ]
      }
    ]"
    (editRow)="router.navigate([router.routes.SEPARATOR,router.routes.EDIT_PRODUCT,{documentId: $event.documentId}])"
    (detailRow)="router.navigate([router.routes.SEPARATOR,router.routes.DETAIL_PRODUCT,{documentId: $event.documentId}])"
    (deleteRow)="openDeleteModal($event);"
  />
</div>
<delete-modal (confirmEvent)="deleteProduct($event);"/>
