<div class="row">

    <div class="col-7 offset-3 mb-5 d-flex flex-row justify-content-between p-0 gap-2">
      <a [routerLink]="[router.routes.SEPARATOR + router.routes.LIST_PRODUCTS]" class="btn btn-warning d-flex align-items-center">
        <i class="bi bi-arrow-return-left"></i>
      </a>
      <div class="main-tittle">
          <h1 class="text-white">Editing Product / Service</h1>
      </div>
    </div>

    <div class="col-7 offset-3 border-secondary">
        <edit-product-form />
    </div>
</div>